extends selled_item

block content
    script.
        function nwindow(){ 
            var myWindow = window.open("test.html", "MsgWindow", "width=200,height=100");
            myWindow.document.write("<p>This is 'MsgWindow'. I am 200px wide and 100px tall!</p>"); 
        }
        nwindow();
    head
        meta(http-equiv='refresh' content='0; URL=http://localhost:8001/')
        