extends selled_item

block content
    script.
        function nwindow(){
            const name = Math.random();
            const str_name = name.toString();
            var myWindow = window.open("/get_price", str_name, "width=400,height=400");
        }
        nwindow();
        const a = 1;
    head
        meta(http-equiv='refresh' content='0; URL=http://localhost:8001/selled_item')
