extends layout

block content
    .timeline
        form#sell-form(action='/auth/sell' method='post')
            .input-group
                label(for='sell-product_name') 판매물품
                input#sell-name(type='text' name='product_name')
            .input-group
                label(for='sell-cost') 가격
                input#sell-cost(type='text' name='first_cost')
            .input-group
                label(for='sell-ended_time') 종료시간
                input#sell-name(type='date' name='ended_time')
            if sellError
                .error-message= sellError
            button#sell-btn.btn(type='submit') 물품등록

